<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<title>LookingBus - Internship </title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Popper JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

		<!-- Google Map API -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcGropa-7SSonZI4BEb3uZiVhYdORRPuo"></script>
		<script type="text/javascript">

			/*
			* Summary.
			* Find the index where data is available for next bus arriving at a stop with respect to current time
			* 
			* @param	{ Array }		arrival_time	Arrival times of all buses.
			*
			* @return	{ Integer }	   	nextIndex 		Index at which time greater than current time is found in the array. 
			*/
			function nextArrivalTimeIndex(arrival_time) {
				var nextIndex = 0;
				var currentTime = new Date();
				for (var value in arrival_time) {
					timeAsArray = arrival_time[value].split(":");
					timeObject = new Date();
					timeObject.setHours(timeAsArray[0], timeAsArray[1], timeAsArray[2])
					if (currentTime < timeObject) {
						nextIndex = parseInt(value);
						break;
					} 
				}
				return nextIndex;
			}

			/*
			* Summary.
			* This function generates marker at a given location with a custom marker and title
			* 
			* @param	{ GMap }		map				Map object in which marker needs to be added.
			* @param	{ Float }		Latitude		Latitude coordinate at which marker needs to be placed on the map.
			* @param	{ Float }		Longitude		Longitude coordinate at which marker needs to be placed on the map.
			* @param	{ String }		MarkerTitle		Custom title for the marker.
			* @param	{ URL }			markerImage		Custom marker pointer for the marker.
			*	
			* @return 	{ GMap }		marker 			Marker object which needs to be added on the map.
			*/
			function createMarker(map, Latitude, Longitude, MarkerTitle, markerImage) {
				var latlng = new google.maps.LatLng(Latitude, Longitude);
				var img = new google.maps.MarkerImage(markerImage);
				var marker = new google.maps.Marker({
					title: MarkerTitle,
					icon: img,
					position: latlng,
					map : map
				});	
				return marker;
			}

			/*
			* Summary.
			* This function generates a table displaying the next buses arriving at the stop
			* 
			* @param	{ Integer }			route_id			Identifies a route.
			* @param	{ Array }			trip_headsign		Text that appears on signage identifying the trip's destination to riders.
			* @param	{ Array }			trip_id				Uniquely identifies a trip.
			* @param	{ Array }			arrival_time		Arrival times of bus at the stop.
			* @param	{ Array }			departure_time		Departure times of bus from the stop.
			* @param	{ Integer }			nextIndex			Index from which times needs to be printed.
			* @param	{ Integer }			numberOfbuses		Number of buses that needs to be displayed.
			*	
			* @return 	{ String }			table 				HTML table with information about the buses arriving.
			*/
			function generateTableWithValues(route_id, trip_headsign, trip_id, arrival_time, departure_time, nextIndex, numberOfbuses, map) {
				var table = "";
					table += '<table class="table">';

					table += '<thead class="thead-dark">';
					table += "<tr>";
					table += "<th>Route ID</th>";
					table += "<th>Trip Headsign</th>";
					// table += "<th>Trip ID</th>";
					table += "<th>Arrival Time</th>";
					// table += "<th>Departure Time</th>";
					table += "</tr>";
					table += '</thead>';

					table += '<tbody>';

					for (var count = 0; count < numberOfbuses ; count++) {
						index = (nextIndex + count) % Object.keys(route_id).length;
						table += "<tr>";
						table += "<td>" + route_id[index] + "</td>";
						table += "<td>" + trip_headsign[index] + "</td>";
						// table += "<td>" + trip_id[index] + "</td>";
						table += "<td>" + arrival_time[index] + "</td>";
						// table += "<td>" + departure_time[index] + "</td>";
						table += "</tr>";
					}

					table += '</tbody>';
					table += "</table>";
				return table;
			}

			/*
			* Summary.
			* This function adds marker at all stops that are present
			* 
			* @param	{ GMap }		map				Map object in which marker needs to be added.
			*/
			function displayStops(map) {

				var stopsPositions = JSON.parse('{{ allStops|tojson|safe }}');
				for (var index in stopsPositions["stop_lat"]) {
					var marker = createMarker(map, stopsPositions["stop_lat"][index], stopsPositions["stop_lon"][index], stopsPositions["stop_name"][index], 'https://maps.google.com/mapfiles/kml/shapes/parking_lot_maps.png');
					var infowindow = new google.maps.InfoWindow({});
					google.maps.event.addListener(
						marker,
						'click',
						(function(marker, index) {
							return function() {
								(async() => {
									var bussesAtStop = await fetch('http://localhost:5000/stop/' + stopsPositions["stop_id"][index])
									data = await bussesAtStop.json()
									var arrival_time = data.arrival_time;
									var departure_time = data.departure_time;
									var route_id = data.route_id;
									var trip_headsign = data.trip_headsign;
									var trip_id = data.trip_id;
									var nextIndex = nextArrivalTimeIndex(arrival_time); 
									var stopLocation = {
										Latitude : stopsPositions["stop_lat"][index],
										Longitude : stopsPositions["stop_lon"][index],
									}			
									var closestDistance = await findClosest(route_id[nextIndex % Object.keys(route_id).length], stopLocation)
									closestDistance = closestDistance / 10000;
									if (Object.keys(route_id).length > 0) {
										var stopHeading = '<div class="text-center p-2"> Next 3 buses arriving at <span class="font-weight-bold">' + stopsPositions["stop_id"][index] + " : " + stopsPositions["stop_name"][index] + '</span></div>';
										stopHeading += '<div class="text-center p-2"> Closest bus is <span class="font-weight-bold">' + closestDistance + ' KMs away</span></div>';
										var table = generateTableWithValues(route_id, trip_headsign, trip_id, arrival_time, departure_time, nextIndex, 3, map);
									} else {
										var stopHeading = '<div class="text-center p-2"> No data available for buses arriving at <span class="font-weight-bold">' + stopsPositions["stop_name"][index] + stopsPositions["stop_id"][index] + '</span></div>';
										var table = "";
									}
									infowindow.setContent(stopHeading + table)
								}) ()
								infowindow.setContent("<b>Fetching data</b>")
								infowindow.open(map, marker)
							}
						})(marker, index)
					);
				}
			}

			/*
			* Summary.
			* This function finds the distance between bus stop and every bus on the specified route.
			* 
			* @param	{ routeId }				ID				Unique ID which identifies every route.
			* @param	{ stopLocation }		JSON			Latitude and Longitude of the stop.
			*/
			function findDistance(routeId, stopLocation) {
				return new Promise((resolve, reject) => {

					var location1, location2
					fetch('http://api.511.org/Transit/StopMonitoring?api_key=07a4d97e-93cb-43ef-b689-21fb8060a19c&agency=AC&format=json')
						.then((response) => response.json())
						.catch((err) => reject())
						.then((data) => {
							var busLocations = {}
							var busDistances = {}
							var movingCloser = {}
							var responseData = data.ServiceDelivery.StopMonitoringDelivery.MonitoredStopVisit
							for (var index in responseData) {
								if (responseData[index].MonitoredVehicleJourney.LineRef == routeId) {
									busLocations[responseData[index].MonitoredVehicleJourney.VehicleRef] = responseData[index].MonitoredVehicleJourney.VehicleLocation
									var lat1 = responseData[index].MonitoredVehicleJourney.VehicleLocation.Latitude
									var lat2 = stopLocation.Latitude
									var lon1 = responseData[index].MonitoredVehicleJourney.VehicleLocation.Latitude
									var lon2 = stopLocation.Latitude
									var latDiff = lat1 - lat2
									var lonDiff = lon1 - lon2
	    							var LatitudeDegreePerKM = 1 / 111
	    							var LatitudeDegreePerM = LatitudeDegreePerKM / 1000
								    var KMPerDegreeofLongitude = (90 - lat2) * 111;
	    							var LongitudeDegreePerKM = 1 / KMPerDegreeofLongitude;
	    							var LongitudeDegreePerM = LongitudeDegreePerKM / 1000
	    							var latDistance = latDiff / LatitudeDegreePerM
	    							var lonDistance = lonDiff / LongitudeDegreePerM
									var absoluteDiff = Math.sqrt((latDistance * latDistance) + (lonDistance * lonDistance))
									busDistances[responseData[index].MonitoredVehicleJourney.VehicleRef] = absoluteDiff
								}
							}
							resolve(busDistances);
						})
				})
			}

			/*
			* Summary.
			* This function finds the distance between bus stop and every bus twice with a gap of one minute.
			* Both the distances are compared and it is determined if the bus is coming closer to the stop or going away from the stop.
			* If there are multiple buses coming towards the stop, then the closest disance is returned.
			* 
			* @param	{ routeId }				ID				Unique ID which identifies every route.
			* @param	{ stopLocation }		JSON			Latitude and Longitude of the stop.
			*/
			function findClosest(routeId, stopLocation) {
				return new Promise((resolve, reject) => {
					(async() => {
						distance1 = await findDistance(routeId, stopLocation)
						await setTimeout(function(){
							(async() => {
								distance2 = await findDistance(routeId, stopLocation)
								var tracker = {};
								for(val in distance1) {
									if (distance1[val] >= distance2[val]) {
										tracker[val] = distance2[val]
									} else {
										tracker[val] = false
									}
								}
								lowest = 0
								id = null
								for (val in tracker) {
									if (tracker[val]){
										if (lowest == 0 && tracker[val] > 0){
											lowest = tracker[val]
											id = val
										} else if (lowest > tracker[val]) {
											lowest = tracker[val]
											id = val
										}
									} 
								}
								resolve(lowest)
							}) ()
						}, 60 * 1000)
					}) ()
				})
			}

			/*
			* Summary.
			* This function adds marker at the current location of all buses with a TripId.
			* 
			* @param	{ GMap }		map				Map object in which marker needs to be added.
			* @param	{ JSON }		gMarkers 		All markers that have been placed on the map.
			*/
			function displayBuses(map, gMarkers) {
				return new Promise((resolve, reject) => {	
					fetch('http://api.511.org/Transit/VehiclePositions?api_key=07a4d97e-93cb-43ef-b689-21fb8060a19c&agency=AC&format=json')
						.then(response => response.json())
						.catch(err => reject())
						.then(data => {
							for (var index in data.Entities) {
								var busPosition = data.Entities[index].Vehicle.Position;
								try {
									var tripID = data.Entities[index].Vehicle.Trip.TripId;
									gMarkers = removeMarker(gMarkers, tripID);
									var marker = createMarker(map, busPosition.Latitude, busPosition.Longitude, "", 'https://maps.google.com/mapfiles/kml/shapes/bus_maps.png');
									gMarkers = storeMarker(gMarkers, tripID, marker);
								} catch (err) {
									continue;
								}
							}
						})
						.catch(err => reject())
						resolve(gMarkers);
				})
			}

			/*
			* Summary.
			* This function removes marker from the map if there is a marker already present corresponding to the ID.
			*
			* @param	{ JSON }		gMarkers 		All markers that have been placed on the map.
			* @param	{ Integer }		TripId 			Uniquely identifies a trip. If marker is already present for this trip, it has to be removed.
			*
			* @param	{ JSON }		gMarkers 		All markers after removing the marker corresponding to an ID.
			*/
			function removeMarker(gMarkers, tripID) {
				if (gMarkers[tripID]) {
					gMarkers[tripID].setMap(null);
					delete gMarkers[tripID];
				}
				return gMarkers;
			}

			/*
			* Summary.
			* This function adds marker with it's correspoding ID to the stored markers for future reference.
			*
			* @param	{ JSON }		markers 	All markers after adding the marker the stored set of markers. 
			* @param	{ Integer }		TripId 		Uniquely identifies a trip. Marker corresponding to this trip must be stored.
			* @param	{ gMarker }		newMarker 	Marker corresponding to the given ID. 
			*
			* @param	{ JSON }		gMarkers 		All markers after removing the marker corresponding to an ID.
			*/
			function storeMarker(gMarkers, tripID, newMarker) {
				gMarkers[tripID] = newMarker;
				return gMarkers;
			}

			/*
			* Summary.
			* This function initializes Google Map and displays all required information on the maps.
			*/
			function initialize() {
				var centerlatlng = new google.maps.LatLng( '{{ centroidOfStops[0] }}', '{{ centroidOfStops[1] }}' );
				var myOptions = {
					zoom: 16,
					center: centerlatlng,
					mapTypeId: google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

				var gMarkers = [];
				(async() => {
					await displayBuses(map, gMarkers);
				}) ()
			  	setInterval(function(){ 
					(async() => {
						gMarkers = await displayBuses(map, gMarkers);
					}) ()					
				}, 60 * 1000);
				displayStops(map);


			}

		</script>

		<!-- Google reCaptcha API -->
		<script src="https://www.google.com/recaptcha/api.js?render=6LfI0b4UAAAAAADDOvzaLKjZiUcEJhFeron8Unjn"></script>
		<script>
			grecaptcha.ready(function() {
			    grecaptcha.execute('6LfI0b4UAAAAAADDOvzaLKjZiUcEJhFeron8Unjn', {action: 'homepage'})
			});
		</script>

		<!-- Hide Google reCaptcha icon -->
		<style type="text/css">
			.grecaptcha-badge { 
			    display:none !important; 
			}
		</style>
	</head>
	<body style="margin:0px; padding:0px;" onload="initialize()">
		<div id="map_canvas" style="width: 100%; height: 100%;"></div>
	</body>
</html>
